@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #EDE6DB;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: #1A3C40;
    font-size: 60px;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 15px;
}

.subtitulo {
    color: #417D7A;
    font-size: 20px;
}

.tarjetas, .tarjetas-ataques {
    display: flex;
    gap: 10px;
}

#contenedor-tarjetas {
    height: 250px;
}

.tarjeta-de-mokepon {
    width: 150px;
    height: 200px;
    background-color: #1A3C40;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    color: #EDE6DB;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.tarjeta-de-mokepon img {
    margin-top: 10px;
    width: 80px;
}

.tarjeta-de-mokepon p {
    background-color: #417D7A;
    padding: 20px;
    border-radius: 20px;
}

#boton-mascota, #boton-reiniciar {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #1A3C40;
    background-color: transparent;
    color: #1A3C40;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}
#boton-mascota:hover, #boton-reiniciar:hover {
    background-color: #417d7ac1;
}

input {
    display: none;
}

input:checked + label{
    border: 7px solid #417D7A;
    width: 170px;
    height: 220px;
}

input:hover + label{
    background-color: #1a3c40c5;
    height: 220px;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-ataque {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 60px;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
}

#mensajes {
    width: 480px;
    background-color: #EDE6DB;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px #d9d2c8, -10px -10px 10px #f2ebe0;
}

#ataques-del-jugador p, #ataques-del-enemigo p {
    color: #EDE6DB;
    padding: 10px;
    border-radius: 20px;
}

.ataques {
    display: grid;
    grid-template-columns: 200px 200px;
}

#vidas-jugador, #vidas-enemigo {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 10px;
    color: #1A3C40;
}

#mascota-jugador, #mascota-enemigo {
    font-size: 25px;
    margin: 5px;
    color: #1A3C40;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ver-mapa button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid #1A3C40;
    background-color: transparent;
    color: #1A3C40;
    font-family: 'Poppins', sans-serif;
    margin: 10px 0;
}

#ver-mapa button:hover {
    background-color: #417d7ac1;
}

@media(max-width: 600px) {
    .tarjetas, .tarjetas-ataques {
        flex-direction: column;
    }
}